# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon\r
._*
.Spotlight-V100
.Trashes

# Xcode
build/
DerivedData/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Environment and Secrets
.env
.env.local
*.p8
*.p12
*.mobileprovision
